#header {
    background-color: #515154;
}

.header-container {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.header-logo a {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img {
    max-height: 80%;
    max-width: 80%;
}

/* .header-menu {
    height: 60px;
} */

.header-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.9;
}


.header-menu .top-menu {
    display: flex;
    list-style: none;
}

.header-menu .subnav {
    position: absolute;
    background-color: #515154;
    width: 150px;
    display: none;
}

.header-menu .subnav li {
    padding: 10px 10px;
}

.header-menu li:hover {
    background-color: #626265;
}

.header-menu li:hover .subnav {
    display: block;
    top: 100%;
    left: 0;
}

.top-menu>li {
    position: relative;
    padding: 22px 16px;
}