#content-product {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 80px;
}

.titleHeader {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

#content-product .box-item {
  padding: 20px;
}
#content-product .box-product {
  /* padding: 15px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* margin-bottom: 15px; */
  min-width: 190px;
}

#content-product .box-img img {
  width: 100%;
}

/* trường hợp title quá dài thì để các dấu chấm phía sau */
#content-product .box-title {
  font-weight: bold;
  max-height: 50px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#content-product .box-price {
  display: flex;
  /* justify-content: space-around; */
}

#content-product .price-actual {
  color: blue;
  font-weight: bold;
}

#content-product .price-old {
  color: #666;
  opacity: 0.8;
  text-decoration: line-through;
  margin-left: 10px;
}

#content-product .box-detail {
  padding: 10px;
}
