* {
  box-sizing: border-box;
  /* border: 1px solid; */
}

#content-mac .page-body {
  display: flex;
  padding: 20px;
}

#content-mac .gallery,
#content-mac .overview {
  width: 50%;
  padding: 10px;
}

#content-mac .overview .prices,
#content-mac .overview .attributes,
#content-mac .overview .add-cart {
  margin-bottom: 20px;
}

#content-mac .gallery img {
  width: 100%;
}

#content-mac .wrapper-info .product-name {
  font-weight: bold;
}
#content-mac .product-details-page .prices {
  display: flex;
}

#content-mac .product-details-page .price-actual {
  color: blue;
  font-weight: bold;
}

#content-mac .product-details-page .price-old {
  color: #666;
  opacity: 0.8;
  text-decoration: line-through;
  margin-left: 10px;
}

#content-mac .product-attribute .product-attribute-input {
  display: flex;
}

#content-mac .add-cart {
  background-color: blue;
  height: 45px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-mac .add-to-cart-panel {
  color: white;
  font-weight: bold;
}

#content-mac .prd-policy {
  border: 1px solid rgb(221, 210, 210);
  border-radius: 5px;
}

#content-mac .prd-policy .fa-ul {
  margin-bottom: 0;
  padding: 10px;
  font-size: 0.8rem;
}

#content-mac .prd-policy .fa-circle-check {
  color: blue;
}

#content-mac .attributes .product-attribute-input label {
  margin-right: 10px;
}

#content-mac .attributes input[type='radio'] {
  display: none;
}

#content-mac .attributes input[type='radio'] + div:hover {
  border: 1px solid #595e9a;
}

#content-mac .attributes input[type='radio']:checked + div {
  border: 1px solid #281aad;
}

#content-mac .attributes input[type='radio'] + div {
  height: 25px;
  width: 25px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  background: #fff;
  /* border: 1px solid #d2d2d2; */
  border-radius: 100%;
}
#content-mac .attributes .attribute-color-gray input[type='radio'] + div {
  background: rgba(181, 181, 182, 255);
}
#content-mac .attributes .attribute-color-silver input[type='radio'] + div {
  background: rgba(192, 192, 192, 255);
}
#content-mac .attributes .attribute-color-starlight input[type='radio'] + div {
  background: rgba(244, 233, 213, 255);
}
#content-mac .attributes .attribute-color-midnight input[type='radio'] + div {
  background: rgba(0, 0, 0, 255);
}
#content-mac .attributes .attribute-color-gold input[type='radio'] + div {
  background: rgba(254, 233, 211, 255);
}
#content-mac .attributes .attribute-color-red input[type='radio'] + div {
  background: rgba(219, 60, 58, 255);
}
#content-mac .attributes .attribute-color-graphite input[type='radio'] + div {
  background: rgba(93, 94, 89, 255);
}
/* update */
#content-mac .attributes .attribute-color-pink input[type='radio'] + div {
  background: rgba(235, 185, 175, 255);
}
#content-mac .attributes .attribute-color-blue input[type='radio'] + div {
  background: rgba(23, 76, 110, 255);
}
#content-mac .attributes .attribute-color-green input[type='radio'] + div {
  background: rgba(47, 96, 15, 255);
}
#content-mac .attributes .attribute-color-purple input[type='radio'] + div {
  background: rgba(187, 180, 231, 255);
}
#content-mac .attributes .attribute-color-yellow input[type='radio'] + div {
  background: rgba(253, 235, 101, 255);
}
#content-mac .attributes .attribute-color-deeppurple input[type='radio'] + div {
  background: rgba(97, 89, 105, 255);
}
#content-mac .attributes .attribute-color-spaceblack input[type='radio'] + div {
  background: rgba(76, 75, 73, 255);
}
