* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main-page {
font-family: Arial, Helvetica, sans-serif;
}

.text-white {
    color: white !important;
}

/* CSS Header */
#header {
    position: sticky;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
}

#header .header-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    background-color: #777;
}

#header .header-logo {
    display: inline-block;
    height: 64px;
    padding-left: 28px;
}

#header img {
    height: 64px;
    width: 84px;    
}

#header .top-menu {
    display: flex;
    list-style-type: none;
}

#header .subnav {
    display: none  ;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 0 12px rgba(0,0,0, 0.747);
}

#header li {
    display: flex;
    padding: 0px 12px;
    align-items: center;
    list-style-type: none;
}

#header li a {
    text-decoration: none;
    color: #d2d2d7;
    font-size: 15px;
    padding: 0 24px;
}

#header li:hover {
    background-color: #626265;
    cursor: pointer;
}

#header a:hover {
    background-color: #626265;
    color: #fff;
}

#header .header-menu {
    display: flex;
    flex-direction: row;
    height: 64px;
    list-style-type: none;
    text-align: center;
    align-items: stretch;
    font-size: 14px;
    color: #fff;
    clear: both;
}

.clear {
    clear: both;
}

#header .header-wrapper {
    display: flex;
}

#header .ti-user, .ti-search, .ti-shopping-cart {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px 15px;
}


/* End Header */


/* CSS Container */
#container {

}
/* End Container */

/* CSS Footer */
#footer {

}
/* End Footer */